body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide scrollbar */
    background-color: rgb(63, 63, 63);
}

#tabs {
    display: flex;
    align-items: center;
    background-color: #373636;
    border-bottom: 1px solid #fffcfc;
    padding: 8px 0;
}

.tab {
    padding: 8px 16px;
    border-radius: 16px 16px 0 0;
    background-color: #5d5a5a;
    cursor: pointer;
    margin-right: 8px;
    position: relative;
    width: 500px;
}

.tab-url {
    width: calc(100% - 80px); /* Adjust width as needed */
    padding: 6px 8px;
    border: none;
    border-radius: 20px;
    margin-right: 8px;
    margin-top: 30px;
    font-size: smaller;
    background-color: #393838;
    color: #fff;
    outline: none; /* Remove default focus outline */
}




.close-tab {
    position:absolute;
    top: 4px;
    right: 4px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    
}

#addTab {
    padding: 8px 16px;
    border-radius: 16px 16px 0 0;
    background-color: #5d5a5a;
    cursor: pointer;
    margin-right: 8px;
    width: auto;
    font-size: x-large;
    color: #fff;
}

.tab-content {
    border: none;
    width: 100%;
    height: calc(100vh - 40px); /* Adjust height as needed */
    display: none;
}

.active-tab {
    background-color:#454444;
    border: none;
}

.active-content {
    display: block;
}

/* Modal styles */



